.titulo {
    color: #73a;
    font-family: Arial, Helvetica, sans-serif;
}

.block {
    width: 80%;
    text-align:center;
    margin:0 auto;
}

.selectOption {
    padding: 10px;
}

span {
    color: #696969;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

hr {
	border-top: 1px dashed #8c8b8b;
}

.mat-radio-button {
    padding-right: 16px;
    font-size: 14px;
    color: #696969;
}

.margen {
    padding: 20px;
}