    
    <div style="text-align:center">
        <img src="../assets/check.png"/>

    <div class="margem1">
        <span class="subtitulo">INFORMAÇÕES RECEBIDAS!</span>
    </div>

      <div class="margem1">
          <span>Em até 48h daremos um retorno sobre a abertura de sua conta.</span>
      </div>
      
      <div class="margem1">
          <span>
            Para receber nossas recomendações de investimentos e começar a investir, precisamos conhecer seu perfil de investidor.
          </span>
      </div>
      
      <div class="margem1">
          <span>São apenas 4 perguntas, que irão guiar todas as suas decisões de investimentos.</span>
      </div>
      
      <div class="margem1 margem2">
          <span>Gostaria de responder ao Perfil do investidor?</span>
      </div>
      
      <button mat-stroked-button (click)="openDialog()" color="primary">Não</button>
      <button routerLink="/perguntas" mat-stroked-button color="primary">Sim</button>
</div>