
.titulo {
    color: #73a;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.mat-checkbox {
    font-size: 11px;
}

.content {
    height: '300px';
    width: '500px';
    text-align: center;
}